@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>
<p>Nombre: Brandon Gonzalo Altamirano Avendaño</p>
<p>Edad: 27</p>
<img src="~/img/Foto3.png" />
<p>Carrera: Ingeniería en Sistemas de la Información</p>