@model List<ProyectoVistas.Models.Parrot>


    <form class="from-inline" method="POST" action="/Parrot/Find">
    <div class="from-group mx-sm-3 mb-2">
    <label class="mr-3">Buscar Loro</label>
      <input type="text" class="from-control" required name="parrot">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>


<div class="row">
    @foreach (var item in Model)
{
  <div class="col md-3">
    <div class="card mb-3">
      <img src="@item.Poster" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">@item.Description.</p>
         <p class="card-text"><small class ="text-muted">@item.Distribution</small></p>
        <a href="/Parrot/Details/@item.Id" class="btn btn-primary"><small>Ver más</small></a>
      </div>
    </div>
  </div>
}
</div>
